* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 147, 147);
}
#myH1 {
  font-size: 4rem;
  color: rgb(101, 100, 100);
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border: 5px solid;
  border-radius: 50px;
}
.display {
  font-size: 5rem;
  color: rgb(143, 143, 143);
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(55, 55, 55);
  margin-bottom: 26px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  margin: 5px;
  min-width: 125px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

#startBtn {
  background-color: rgb(24, 168, 24);
}
#startBtn:hover {
  background-color: rgb(28, 119, 28);
}
#stopBtn {
  background-color: rgb(234, 77, 77);
}
#stopBtn:hover {
  background-color: rgb(189, 43, 43);
}
#resetBtn {
  background-color: rgb(61, 61, 196);
}
#resetBtn:hover {
  background-color: rgb(38, 38, 134);
}
#lapBtn {
  background-color: rgb(10, 10, 71);
}
#lapBtn:hover {
  background-color: rgb(9, 9, 40);
}

.laps {
  text-align: center;
  width: 300px;
  height: 300px;
  overflow: auto;
  display: none;
}
.lap_item {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}
.number {
  color: rgb(111, 79, 79);
  font-weight: bold;
}
